<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>MyStock</title>
</head>
<body style="margin-bottom: 5%;">
    <%- include('navbar-logado') %>
    <div class="container mt-5" style="margin-right: auto; margin-left: auto;">
        <% if(estoque_success) { %>
            <div class="alert alert-success mt-5" style="margin-left: auto; margin-right: auto; height: 55px; width: 500px;">
                <p>
                    <%= estoque_success %>
                </p>
            </div>
        <% } %>
        <% if(forn_success) { %>
            <div class="alert alert-success mt-5" style="margin-left: auto; margin-right: auto; height: 55px; width: 500px;">
                <p>
                    <%= forn_success %>
                </p>
            </div>
        <% } %>
        <% if(product_success) { %>
            <div class="alert alert-success mt-5" style="margin-left: auto; margin-right: auto; height: 55px; width: 500px;">
                <p>
                    <%= product_success %>
                </p>
            </div>
        <% } %>
        <% if(product_update) { %>
            <div class="alert alert-success mt-5" style="margin-left: auto; margin-right: auto; height: 55px; width: 500px;">
                <p>
                    <%= product_update %>
                </p>
            </div>
        <% } %>
        <br>
        <div class="d-flex flex-row mx-3">
            <h3 class="fw-bold">Meus estoques</h3>
            <a class="fw-bold" aria-current="page" href="/addEstoque" style="color: black; margin-left: auto;">
                <button type="button" class="btn btn-dark" style="background-color: black;">Cadastrar Estoque</button>
            </a>
        </div>
        <div class="container mt-5">
            <table class="table ">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <% estoques.forEach(function(estoque) { %>
                        <tr>
                            <th scope="row">
                                <%= estoque.id_es %>
                            </th>
                            <th>
                                <a class="fw-normal" aria-current="page" href="/produtos/<%= estoque.id_es %>" style="color: black; margin-left: auto; text-decoration: none;">
                                    <%= estoque.nome_es %>
                                </a>
                            </th>
                            <th>
                                <a class="fw-normal" aria-current="page" style="color: black; margin-left: auto; text-decoration: none;">
                                    <%= estoque.categoria %>
                                </a>
                            </th>
                            <td>
                                <a href="/editaEstoque/<%= estoque.id_es %>">
                                    <button class="btn btn-dark" style="">
                                        Editar
                                    </button>
                                </a>                            
                            </td>
                            <td>
                                <a href="/excluiEstoque/<%= estoque.id_es %>">
                                    <button class="btn btn-dark" style="">
                                        Excluir
                                    </button>
                                </a>  
                            </td>
                        </tr>                    
                        <br>
                    <% }); %>
                </tbody>
            </table>
        </div>    
    </div>
</body>
</html>