<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>MyStock</title>
</head>
<body style="margin-bottom: 5%;">
    <%- include('navbar-logado') %>
    <div class="container mt-5" style="margin-right: auto; margin-left: auto;">
        <% if(estoque_success) { %>
            <div class="alert alert-success mt-5" style="margin-left: auto; margin-right: auto; height: 55px; width: 500px;">
                <p>
                    <%= estoque_success %>
                </p>
            </div>
        <% } %>
        <br>
        <div class="d-flex flex-row mx-3">
            <h3 class="fw-bold">Meus estoques</h3>
            <a class="fw-bold" aria-current="page" href="/addEstoque" style="color: black; margin-left: auto;">
                <button type="button" class="btn btn-dark" style="background-color: black;">Cadastrar Estoque</button>
            </a>
            <div class="dropdown mx-3">
          <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: black;">
            Filtrar por categoria
          </button>
          <ul class="dropdown-menu">
            <% categorias.forEach(function (categoria) { %>
                <li><a class="dropdown-item" href="/filtrar/<%= categoria.id %>"><%= categoria.nome %></a></li>
            <% }) %>
          </ul>
        </div>
        </div>
        <div class="container" style="margin-top: 50px;">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <% estoques.forEach(function(estoque) { %>
                        <tr>
                            <th scope="row">
                                <%= estoque.id_es %>
                            </th>
                            <th>
                                <a class="fw-normal" aria-current="page" href="/produtos/<%= estoque.id_es %>" style="color: black; margin-left: auto; text-decoration: none;">
                                    <%= estoque.nome_es %>
                                </a>
                            </th>
                            <th scope="row">
                                <%= estoque.category.nome %>
                            </th>
                            <td>
                                <a href="/editaEstoque/<%= estoque.id_es %>">
                                    <button class="btn btn-dark" style="">
                                        Editar
                                    </button>
                                </a>                            
                            </td>
                            <td>
                                <a href="/excluiEstoque/<%= estoque.id_es %>">
                                    <button class="btn btn-dark" style="">
                                        Excluir
                                    </button>
                                </a>  
                            </td>
                        </tr>                    
                        <br>
                    <% }); %>
                </tbody>
            </table>
        </div>    
    </div>
</body>
</html>