<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
    <title>MyStock</title>
  </head>
  <body style="margin-bottom: 5%">
    <%- include('navbar-logado') %>
    <div class="container mt-5" style="margin-right: auto; margin-left: auto">
      <% if(product_success) { %>
            <div class="alert alert-success mt-5" style="margin-left: auto; margin-right: auto; height: 55px; width: 500px;">
                <p>
                    <%= product_success %>
                </p>
            </div>
        <% } %>
      <% if(product_update) { %>
            <div class="alert alert-success mt-5" style="margin-left: auto; margin-right: auto; height: 55px; width: 500px;">
                <p>
                    <%= product_update %>
                </p>
            </div>
        <% } %>
      <div class="d-flex flex-row mx-3">
        <h3 class="fw-bold"><%= nome_estoque %></h3>
        <a
          class="fw-bold"
          aria-current="page"
          href="/addProduto/<%= id_estoque %>"
          style="color: black; margin-left: auto"
        >
          <button
            type="button"
            class="btn btn-dark"
            style="background-color: black"
          >
            Adicionar Produto
          </button>          
        </a>
        <a
          class="fw-bold mx-3"
          aria-current="page"
          href="/estoques"
          style="color: black;"
        >
          <button
            type="button"
            class="btn btn-dark"
            style="background-color: black"
          >
            Voltar para Estoques
          </button>          
        </a>
      </div>
      <div class="container mt-5">
        <div class="row">
          <% produtos.forEach(function (produto) { %>
          <div class="col">
            <div class="card mb-5" style="width: 18rem">
              <img
                src="../produtos/<%= produto.imagem %>"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title"><%= produto.nome_prod %></h5>
              </div>
              <ul class="list-group list-group-flush" style="text-align: left">
                <li class="list-group-item">
                  <div class="d-flex" style="align-items: center">
                    Quantidade
                    <div style="margin-left: auto; margin-right: 0">
                      <div class="d-flex">
                        <form
                          method="post"
                          action="/decreaseOne/<%= produto.id_prod %>"
                          enctype="multipart/form-data"
                        >
                          <button type="submit" class="btn btn-dark btn-sm">
                            -
                          </button>
                        </form>
                        <p style="margin: 5px"><%= produto.quantidade %></p>
                        <form
                          method="post"
                          action="/increaseOne/<%= produto.id_prod %>"
                          enctype="multipart/form-data"
                        >
                          <button type="submit" class="btn btn-dark btn-sm">
                            +
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="d-flex" style="align-items: center">
                    Valor Unitário
                    <div style="margin-left: auto; margin-right: 0">
                      R$ <%= produto.valor.toFixed(2) %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="d-flex" style="align-items: center">
                    Valor Total
                    <div style="margin-left: auto; margin-right: 0">
                      R$ <%= (produto.valor * produto.quantidade).toFixed(2) %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="d-flex" style="align-items: center">
                    Fornecedor
                    <div
                      class="fw-bold"
                      style="margin-left: auto; margin-right: 0"
                    >
                      <%= produto.supplier.nome_forn %>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="d-flex" style="align-items: center">
                    <a href="/editaProduto/<%= produto.id_prod %>">
                      <button class="btn btn-dark m-1">Editar</button>
                    </a>
                    <a href="/excluiProduto/<%= produto.id_prod %>">
                      <button class="btn btn-dark m-1">Excluir</button>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <nav
      class="navbar navbar-expand-lg navbar-light shadow fixed-bottom"
      style="background-color: white"
    >
      <div class="container">
        <div class="navbar-nav">
          <a
            class="nav-link fw-bold m-2"
            aria-current="page"
            style="color: black"
            >Valor do Estoque:</a
          >
          <a
            class="nav-link fw-bold m-2"
            aria-current="page"
            style="color: black"
            >R$ <%= valor_estoque.toFixed(2) %></a
          >
        </div>
        <div class="navbar-nav">
          <a
            class="nav-link fw-bold m-2"
            aria-current="page"
            style="color: darkred"
            >Investimento:</a
          >
          <a
            class="nav-link fw-bold m-2"
            aria-current="page"
            style="color: darkred"
            >R$ <%= investimento.toFixed(2) %></a
          >
        </div>
        <div class="navbar-nav">
          <a
            class="nav-link fw-bold m-2"
            aria-current="page"
            style="color: darkgreen"
            >Lucro:</a
          >
          <a
            class="nav-link fw-bold m-2"
            aria-current="page"
            style="color: darkgreen"
            >R$ <%= (valor_estoque - investimento).toFixed(2) %></a
          >
        </div>
      </div>
    </nav>
  </footer>
</html>
